###############################################################################
# Alias things

# Easy source
#alias src="source $DOTFILES/$RC"
#alias spr="source $DOTFILES/$PROFILE"

#Easy edit
#alias vrc="vim $DOTFILES/.bashrc"
#alias vpr="vim $DOTFILES/.bash_profile"
#alias vimrc="vim $DOTFILES/.vimrc"
#alias vlrc="vim ~/.bashrc.local"
#alias vlpr="vim ~/.bash_profile.local"

# Try not to clobber things
alias rm='rm -i'
alias mv='mv -i'

# Colorful command outputs
case $OSTYPE in
    "linux-gnu")
        LS_OPTS="--color=auto"
        ;;
    darwin*)
        LS_OPTS="-G"
        ;;
esac
export LS_OPTS="-F $LS_OPTS"

alias ls='ls $LS_OPTS'
alias dir='dir $LS_OPTS'
alias vdir='vdir $LS_OPTS'
alias grep='grep $LS_OPTS'
alias fgrep='fgrep $LS_OPTS'
alias egrep='egrep $LS_OPTS'

# ls aliases
alias l='ls -C'
alias ll='ls -alh'
alias la='ls -A'

# git aliases
alias gc='git commit -m'
alias gca='git commit -am'
alias gs='git status'
alias gch='git checkout'
alias gb='git branch'
alias ga='git add'
alias gd='git diff'
alias gpsh='git push'
alias gpl='git pull'
alias gf='git fetch'
alias gm='git merge'

# Why type more than one letter?
alias v='vim'
alias c='clear'

# For when we forget sudo
#alias fuck='sudo $(history -p !!)'

# For moving easily
alias .='cd ..'
alias ..='cd ../..'
alias ...='cd ../../..'

# Fast update script
#alias apt-update='sudo $DOTFILES/scripts/apt-update.sh'
