# Easy editing and sourcing of shell configs
if [ ! -z $RC ]; then
    alias src="source ~/$RC"
    alias vrc="vim ~/$RC"
    alias vlrc="vim ~/$RC.local"
    if [ -x "$(command -v subl)" ]; then
        alias subrc="subl ~/$RC"
        alias sublrc="subl ~/$RC.local"
    fi
fi

if [ ! -z $PROFILE ]; then
    alias spr="source ~/$PROFILE"
    alias vpr="vim ~/$PROFILE"
    alias vlpr="vim ~/$PROFILE.local"
    if [ -x "$(command -v subl)" ]; then
        alias subpr="subl ~/$PROFILE"
        alias sublpr="subl ~/$PROFILE.local"
    fi
fi

# Easy edit other dotfiles
alias vdot="vim $DOTFILES"
alias vsh="vim $DOTFILES/rc/.sharedrc"
alias va="vim ~/.aliases"
alias vimrc="vim ~/.vimrc"

if [ -x "$(command -v subl)" ]; then
    alias subdot="subl $DOTFILES"
    alias subsh="subl $DOTFILES/rc/.sharedrc"
    alias suba="subl ~/.aliases"
    alias subvim="subl ~/.vimrc"
fi

# Try not to clobber things
alias rm='rm -i'
alias mv='mv -i'

# Colorful command outputs
case $OSTYPE in
    "linux-gnu")
        LS_OPTS="--color=auto"
        ;;
    darwin*)
        LS_OPTS="-G"
        ;;
esac

# Colors
alias ls='ls -F $LS_OPTS'
alias dir='dir $LS_OPTS'
alias vdir='vdir $LS_OPTS'
alias grep='grep $LS_OPTS'
alias fgrep='fgrep $LS_OPTS'
alias egrep='egrep $LS_OPTS'

# ls aliases
alias l='ls -C'
alias ll='ls -alh'
alias la='ls -A'

# git aliases
alias gc='git commit -v'
alias gca='retry 2 git commit -av'  # auto-retry because of pre-commit
alias gs='git status'
alias gch='git checkout'
alias gb='git branch'
alias ga='git add'
alias gd='git diff'
alias gpsh='git push'
alias gpl='git pull'
alias gf='git fetch'
alias gm='git merge'
alias gst='git stash'
alias gsp='git stash pop'
alias gsl='git stash list'
git_log_format='--pretty=format:"%C(yellow)%h %C(reset)- %C(red)%an%C(reset), %C(blue)%ar%C(reset): %s"'
alias gl='git log '$git_log_format
alias glg='git log --graph '$git_log_format
alias gpshn='git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)'
alias gpshf='git push --force-with-lease'

# Why type more than one letter?
alias v='vim'
alias c='clear'

alias dco='docker-compose'

# For when we forget sudo
# alias fuck='sudo $(history -p !!)'
alias fuck='sudo $(fc -ln -1)'

# Directory stuff
alias .='cd ..'
alias ..='cd ../..'
alias ...='cd ../../..'
alias md='mkdir -p'

# Fast update script
alias apt-update='sudo $DOTFILES/bin/apt-update.sh'

# These aliases are only for WSL systems
if [ -d '/mnt/c/Windows' ]; then
    alias subl='subl.exe'
    alias chrome='/mnt/c/"Program Files (x86)"/Google/Chrome/Application/chrome.exe'
    alias open='explorer.exe'
fi
