# Easy editing and sourcing of shell configs
if [ ! -z $RC ]; then
    alias src="source ~/$RC"
    alias vrc="vim ~/$RC"
    alias vlrc="vim ~/$RC.local"
fi

if [ ! -z $PROFILE ]; then
    alias spr="source ~/$PROFILE"
    alias vpr="vim ~/$PROFILE"
    alias vlpr="vim ~/$PROFILE.local"
fi


# Easy edit aliases and vimrc
alias va="vim ~/.aliases"
alias vimrc="vim ~/.vimrc"

# Try not to clobber things
alias rm='rm -i'
alias mv='mv -i'

# Colorful command outputs
case $OSTYPE in
    "linux-gnu")
        LS_OPTS="--color=auto"
        ;;
    darwin*)
        LS_OPTS="-G"
        ;;
esac

alias ls='ls -F $LS_OPTS'
alias dir='dir $LS_OPTS'
alias vdir='vdir $LS_OPTS'
alias grep='grep $LS_OPTS'
alias fgrep='fgrep $LS_OPTS'
alias egrep='egrep $LS_OPTS'

# ls aliases
alias l='ls -C'
alias ll='ls -alh'
alias la='ls -A'

# git aliases
alias gc='git commit -m'
alias gca='git commit -am'
alias gs='git status'
alias gch='git checkout'
alias gb='git branch'
alias ga='git add'
alias gd='git diff'
alias gpsh='git push'
alias gpl='git pull'
alias gf='git fetch'
alias gm='git merge'

# Why type more than one letter?
alias v='vim'
alias c='clear'

# For when we forget sudo
# alias fuck='sudo $(history -p !!)'
alias fuck='sudo $(fc -ln -1)'

# For moving easily
alias .='cd ..'
alias ..='cd ../..'
alias ...='cd ../../..'

# Fast update script
alias apt-update='sudo $DOTFILES/scripts/apt-update.sh'

# These aliases are only for WSL systems
if [ -d '/mnt/c/Windows' ]; then
    alias subl='subl.exe'
    alias chrome='/mnt/c/"Program Files (x86)"/Google/Chrome/Application/chrome.exe'
    alias open='explorer.exe'
fi
